<div class="menu-item-info-box" [@menuItemAppeared]="menuItemState">
  <span class="menu-item-info-box-icon"><img [src]="menuItem.ImagePath"></span>

  <div class="menu-item-info-box-content">
    <span class="menu-item-info-box-text">{{menuItem.name}}</span>
    <span class="menu-item-info-box-detail">{{menuItem.Description}}</span>
    <span class="menu-item-info-box-price">{{menuItem.Price | currency: 'BRL': true}}</span>
    <a (click)="emitAddEvent()" class=""><i class="fa fa-plus-circle"></i> Adicionar</a>
  </div>
  <!-- /.info-box-content -->
</div>